<p id="notice"><%= notice %></p>

<h1>Projects</h1>
<%= react_component('ProjectList') %>
<% @projects.each do |project| %>
<%= link_to 'Edit', edit_project_path(project) %>
<% end %>
<%= link_to 'New Project', new_project_path %>
