//
// Variables
// --------------------------------------------------

$brand-base:                #5c90d2;

$brand-primary:             $brand-base;
$brand-success:             #46c37b;
$brand-info:                #70b9eb;
$brand-warning:             #f3b760;
$brand-danger:              #d26a5c;

$gray-base:                 #c9c9c9;
$gray-lighter:              #f9f9f9;

$body-bg:                   #f5f5f5;

$space-base:                30px;           // Content padding
$space-block:               20px;           // Block padding

$font-family-base:          "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:            14px;
$text-color:                #646464;

$headings-line-height:      1.2;