<div class="block block-bordered block-rounded">
  <div class="block-header">
    <h3 class="block-title">Users</h2>
  </div>
  <div class="block-content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th style="width: 60%;">Email</th>
          <th>Role</th>
          <th style="width: 100px;" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.fullname %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td class="text-center"><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
