<!DOCTYPE html>
<html>
  <head>
    <%= render "header" %>
  </head>
  <body class="page-header-fixed">
  <!-- BEGIN HEADER -->
  <div class="header navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= render "navbar" %>
      </div>
    </div>
  </div>
  <!-- END HEADER -->
  <div class="container">
  <%= yield %>
  </div>

    
  </body>
</html>
